@font-face {
    font-family: sans-serif;
    src: url();
}

*{
    font-family: sans-serif;
    font-size: 12pt;
}

body{
    margin: 0;
}

section{
    height: 100vh;
    background-image:url('images/SP-Ingineer.jpg');
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    animation-name:back;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

form{
    width: 500px;
    background-color:rgba(0, 0, 0, 0.4) ;
    padding: 30px;
    box-sizing:border-box;
    border-radius: 10px;
}

input{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing:border-box;
    border-radius: 6px;
}

input[type = "submit"]{
    background-color:chartreuse;
    font-weight:bold;
    cursor:pointer;
}

@keyframes back {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}

.static_right{
    position: absolute;
    padding: 2px;
    border-radius: 3px;
    background: rgb(160, 160, 160);
    top: 10px;
    right: 10px;
}