body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    border: solid;
    opacity: 0.80;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

li a:hover {
    background-color: #111;
}

.centrer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}